<%- include('partials/header'); -%>

    <h1>
        <%= title %> // this is the title of the post
    </h1>
    <p>
        <%= content %> // this is the content of the post
    </p>

    <%- include('partials/footer'); -%>